
{% set release_status = release.status.value %}

{% if release_status in ['EDITING', 'STAGING', 'PUBLISHING', 'ROLLINGBACK'] %}
{% set progress_verb = {'EDITING': 'edited', 'STAGING': 'staged', 'PUBLISHING': 'published', 'ROLLINGBACK': 'rolled back'}[release_status] %}
<div class="ui warning message release-status-message">
    {% if release_status == 'EDITING' %}
    <p><i class="clock icon"></i> Changes are currently being applied. If this message persists, something may have gone wrong.</p>
    {% else %}
    <p><i class="clock icon"></i> The release is being {{ progress_verb }}. If this message persists, something may have gone wrong.</p>
    {% endif %}
</div>
<script>
    (function () {
        var currentStatus = {{ release_status | tojson }};
        var pollInterval = setInterval(function () {
            fetch("/releases/{{ experiment }}/{{ release._metadata.id }}/state")
                .then(function (res) {
                    if (!res.ok) {
                        return null;
                    }
                    return res.json();
                })
                .then(function (data) {
                    if (data && data.status && data.status !== currentStatus) {
                        clearInterval(pollInterval);
                        window.location.reload();
                    }
                })
                .catch(function () {});
        }, 5000);
    })();
</script>
{% elif release_status == 'PUBLISHED' %}
<div class="ui positive message release-status-message">
    <p><i class="check circle icon"></i> This release is published and locked.</p>
</div>
{% endif %}

{% set edit_disabled = release_status not in ['DRAFT', 'READY'] %}
{% set view_disabled = release_status not in ['STAGED', 'PUBLISHED'] %}

<div
    id="release-content-root"
    data-experiment="{{ experiment }}"
    data-release-id="{{ release._metadata.id }}"
    data-records='{{ release.records | tojson }}'
    data-documents='{{ release.documents | tojson }}'
    data-edit-disabled="{{ edit_disabled | lower }}"
    data-view-disabled="{{ view_disabled | lower }}"
    data-release-status="{{ release.status.value }}"
    data-release-state='{{ release_state | tojson }}'
></div>
