{% set steps = ['DRAFT', 'READY', 'DEPLOYED', 'PUBLISHED'] %}

{% set status_to_step = {
'DRAFT': 'DRAFT',
'EDITING': 'READY',
'READY': 'READY',
'DEPLOYING': 'READY',
'DEPLOYED': 'DEPLOYED',
'PUBLISHED': 'PUBLISHED'
} %}

{% set current_step = status_to_step[release.status] %}
{% set current_index = steps.index(current_step) %}

<div class="ui ordered steps fluid">
    {% for step in steps %}
    {% set i = loop.index0 %}
    <div class="step
         {% if i < current_index %}completed{% endif %}
         {% if i == current_index %}active{% endif %}
         {% if i > current_index %}disabled{% endif %}
    ">
        <div class="content">
            <div class="title">{{ step }} {%if step == "READY" and current_step=="READY" and release.status!="READY" %} ({{release.status}}) {%endif%}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% set transitions = {
'DRAFT': None,
'READY': 'deploy',
'DEPLOYED': 'publish',
'PUBLISHED': None
} %}

{% set next_action = transitions[release.status] %}

{% set next_tooltip = {
'DRAFT': 'This release has unresolved issues. Once all checks are valid, it will automatically move to READY.',
'DEPLOYED': 'You are about to publish this release publicly. Please review carefully before proceeding.',
'EDITING': 'The release is being edited at the moment.',
'DEPLOYING':  'The release is being deployed.'
}[release.status] %}

<form method="post"
      action="{% if next_action %}/releases/{{ experiment }}/{{ release.id }}/{{ next_action }}{% endif %}">

    {# Extra options only when publishing #}
    {% if release.status == 'DEPLOYED' %}
    <div class="ui checkbox" style="margin-bottom: 1em">
        <input type="checkbox"
               name="generate_doi"
               id="generate-doi-checkbox"
               value="1">
        <label><strong>Generate DOI for all entries</strong></label>
    </div>
    {% endif %}


    {# Next button #}
    <div
            {% if release.status in ['DRAFT', 'DEPLOYED'] %}
    data-tooltip="{{ next_tooltip }}"
    data-position="top center"
    {% endif %}
    >
    <button
            class="ui huge primary button {% if not next_action %}disabled{% endif %}"
            {% if not next_action %}disabled{% endif %}
    >
        <i class="arrow right icon"></i>
        Next
    </button>
    </div>
</form>

