{% set steps = ['DRAFT',  'STAGED', 'PUBLISHED'] %}

{% set status_to_step = {
'DRAFT': 'DRAFT',
'EDITING': 'DRAFT',
'READY': 'DRAFT',
'STAGING': 'DRAFT',
'STAGED': 'STAGED',
'PUBLISHED': 'PUBLISHED'
} %}

{% set release_status = release.status.value %}
{% set current_step = status_to_step[release_status] %}
{% set current_index = steps.index(current_step) %}

{% set transitions = {
'READY': 'stage',
'STAGED': 'publish',
} %}

{% set next_action = transitions[release_status] %}
{% set next_tooltip = {
'DRAFT': 'This release has unresolved issues.',
'STAGED': 'You are about to publish this release publicly. Please review carefully before proceeding.',
'EDITING': 'The release is being edited at the moment.',
'STAGING': 'The release is being staged.'
}[release_status] %}

<div class="ui fluid top attached ordered steps">
    {% for step in steps %}
    {% set i = loop.index0 %}
    <div class="step
         {% if i < current_index %}completed{% endif %}
         {% if i == current_index %}active{% endif %}
         {% if i > current_index %}disabled{% endif %}
    ">
        <div class="content">
            <div class="title">
                {{ step }}
                {% if step == "DRAFT" and release_status != "DRAFT" %}
                <span class="release-step-substatus">({{ release_status }})</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<form id="primary-action-form"
      method="post"
      action="{% if next_action %}/releases/{{ experiment }}/{{ release._metadata.id }}/{{ next_action }}{% endif %}">
    <div class="ui bottom attached segment release-navigation-actions">

        <div class="release-navigation-actions-button"
             {% if release_status in ['DRAFT', 'STAGED', 'EDITING', 'STAGING'] %}
             data-tooltip="{{ next_tooltip }}"
             data-position="top center"
             {% endif %}>
            <button id="primary-action-btn"
                    class="ui primary button {% if not next_action %}disabled{% endif %}"
                    {% if release_status not in ['READY', 'STAGED'] %}disabled{% endif %}>
                {% if release_status == 'STAGED' %}
                <i class="check circle icon"></i> Publish
                {% elif release_status == 'PUBLISHED' %}
                <i class="check icon"></i> Done
                {% else %}
                <i class="arrow circle right icon"></i> Stage Release
                {% endif %}
            </button>
        </div>

    </div>
</form>
