<div class="ui grid vertical align middle">
    <div class="row">
        <div class="fifteen wide column" >
            {% if release._metadata.discussion_url %}
            <a href="{{ release._metadata.discussion_url }}" id="release-discussion-url" rel="noopener noreferrer" target="_blank">
                <h1 id="release-name">{{ release._metadata.name }}</h1>
            </a>
            {% else %}
                <h1 id="release-name">{{ release._metadata.name }}</h1>
            {% endif %}
        </div>
        <div class="column">
                <div class="ui dropdown icon button">
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                        <div class="item" id="history-button">
                            View History
                        </div>
                        <a class="item"
                           href="/releases/api/{{ release._metadata.experiment }}/{{ release._metadata.id }}">
                            Download release definition
                        </a>
                        <div class="item" id="edit-metadata-action">
                            Edit metadata
                        </div>
                    </div>
                </div>
        </div>

    </div>
    <div class="row">
        Description: <div id="release-description">
         {{ release._metadata.description }}
        </div>
    </div>
</div>
{% set stats = [
{"label": "Records", "value": release._metadata.num_records},
{"label": "File indices", "value": release._metadata.num_file_indices},
{"label": "Files", "value": release._metadata.num_files},
{"label": "Documents", "value": release._metadata.num_docs},
] %}

<div class="ui segment four statistics">
    {% for stat in stats %}
    <div class="statistic">
        <div class="value">{{ stat.value }}</div>
        <div class="label">{{ stat.label }}</div>
    </div>
    {% endfor %}
</div>
<div class="ui modal" id="history-modal">
    <i class="close icon"></i>

    <div class="header">
        Release History
    </div>

    <div class="scrolling content">
        <div class="ui feed">
            {% set events = release._metadata.history_events | reverse %}

            {% for event in events %}
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <strong>{{ event.status|capitalize }}</strong>
                    </div>

                    <div class="meta">
                        {{ event.timestamp.strftime('%Y-%m-%d %H:%M') }}
                        {% if event.user %}
                        by {{ event.user.email }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="actions">
        <div class="ui button approve">Close</div>
    </div>
</div>
<div class="ui modal" id="edit-metadata-modal">
    <div class="header">Edit release metadata</div>

    <div class="content">
        <div class="ui form">

            <div class="field">
                <label>Name</label>
                <input id="meta-name" type="text">
            </div>

            <div class="field">
                <label>Discussion link</label>
                <input id="meta-link" type="text">
            </div>

            <div class="field">
                <label>Description</label>
                <textarea id="meta-description"></textarea>
            </div>
            <input id="meta-release-id" type="hidden" value="{{release._metadata.id}}">
        </div>
    </div>

    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui primary button" id="save-metadata">Save</div>
    </div>
</div>

