{%- extends config.BASE_TEMPLATE %}


{%- block page_header %}
{% include 'cernopendata_theme/header_index.html' %}
{%- endblock page_header %}


{%- block page_body %}
<div class="ui container" style="padding-top: 1.5em">
    {% include 'cernopendata_pages/release_details/_summary.html' %}
    {% include 'cernopendata_pages/release_details/_navigation.html' %}
    {% include 'cernopendata_pages/release_details/_body.html' %}
</div>
{%- endblock %}

{% block javascript %}
    {{ super() }}
{{ webpack['cernopendata_curate.js'] }}
{%- endblock %}
