<section class="footer">
  <div class="ui grid padded">
    <div class="row">
      <div class="six wide column">
        <div class="ui list horizontal logos">
          {% for id, exp in experiments_display.items() %}
          <div class="item">
            <a href="https://{{ exp.url }}">
              <img
                src="{{ url_for('static', filename='img/{}.gif'.format(exp.img or id)) }}"
                alt="{{ exp.name }} experiment"
                width="{{ exp.width }}"
                height="{{ exp.height }}"
              />
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="four wide column centered stretched middle aligned">
        {% set year = None %}
        <div class="ui list horizontal copyright ">
          <div class="item">
            © CERN, 2014–{{year|get_year}} &middot;
          </div>
          <div class="item">
            <a href="/terms-of-use">Terms of Use</a> &middot;
          </div>
          <div class="item">
            <a href="/privacy-policy">Privacy Policy</a> &middot;
          </div>
          <div class="item">
            <a href="https://opendata-forum.cern.ch/">Help</a> &middot;
          </div>
          <div class="item">
            <a href="https://github.com/cernopendata/opendata.cern.ch/issues"
              >GitHub</a
            >
            &middot;
          </div>
          <div class="item">
            <a href="https://twitter.com/cernopendata">Twitter</a> &middot;
          </div>
          <div class="item">
            <a href="mailto:opendata-support@cern.ch">Email</a>
          </div>
        </div>
      </div>
      <div class="six wide column stretched align-items-end">
        <div class="auto-column-grid">
          <div ><a href="https://inveniosoftware.org/">Powered by Invenio</a></div>
          <div  >
            <a href="http://www.cern.ch">
              <img
                src="{{url_for('static', filename='assets/img/cern.svg')}}"
                width="80px"
                alt="CERN"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
