{%- extends "invenio_theme/header.html" %}
{%- block navbar %}
<nav class="navbar-custom">
  <a class="navbar-brand" href="{{ url_for('cernopendata_pages.index') }}">
    <img src="{{ url_for('static', filename='assets/img/logo_blue.png') }}" width="115" alt="">
  </a>

  <ul class="link-menu">
    <li class="ui dropdown">
      <span class="navbar-item">
        <span>Help<i class="dropdown icon"></i></span>
      </span>
      <div class="menu dropdown-items">
        <div class="item"><a href="https://opendata-forum.cern.ch/">Discussion forum</a></div>
        <div class="item"><a href="/docs/cod-search-tips">Search tips</a></div>
      </div>
    </li>
    <li class="ui dropdown">
      <span class="navbar-item">
        <span>About<i class="dropdown icon"></i></span>
      </span>
      <div class="menu dropdown-items">
        <div class="item"><a href="/docs/about">CERN Open Data</a></div>
        {% for id, exp in experiments_display.items() %}
          <div class="item"><a href="/docs/about-{{ id }}">{{ exp.name }}</a></div>
        {% endfor %}
        <div class="item"><a href="/search?type=Glossary&sort=title">Glossary</a></div>
      </div>
    </li>
    <span class="menu-icon"/>
  </ul>
</nav>

{%- endblock navbar %}

{%- block breadcrumbs %}
{%- include "cernopendata_theme/breadcrumbs.html" %}
{%- endblock breadcrumbs %}
