{%- extends "invenio_records_ui/detail.html" %}

{% from 'cernopendata_records_ui/records/macros/files_box.html' import files_box_react_app, authors_table with context %}

{% from 'cernopendata_records_ui/records/macros/links.html' import link_list  with context %}

{%- block page_body %}
<div class="ui one column centered grid container detail-page">
    <div class="row">
        <div class="sixteen wide column">
          <div class="ui segment">
            <div class="card-body">

                {% block heading %}
                <h2>
                    {{record.title}}
                    <small id="date-published">{{record.date_published}}</small>
                </h2>
                <div>
                    {% if record.title_additional %}
                    <div>
                        {{record.title_additional}}
                    </div>
                    {% endif %}
                    <div>
                        {% for author in record.authors %}
                        <small>{{author.name}}</small>
                        {% endfor %}
                        {% if record.collaboration %}
                        <span class="ui green label">{{record.collaboration.name}}</span>
                        {% endif %}
                        {% if record.year %}
                        <span class="ui green label">{{record.year}} Run</span>
                        {% endif %}
                    </div>
                </div>
                <p></p>
                <h6>
                    <label>Cite as:</label>
                    {% for author in record.authors %}
                    <span>{{author.name}}.</span>
                    {% endfor %}
                    <span>
                        {% if record.collaboration %}
                        {{record.collaboration.name}}
                        {% endif %} ({{record.date_published}}). {{record.title_additional}}. CERN Open Data Portal.
                        {% if record.doi %}
                        <label>DOI:</label>
                        <a href="http://doi.org/{{record.doi}}">{{record.doi}}</a>
                        {% endif %}
                    </span>
                </h6>
                <p></p>
                <div>
                    {% if record.collision_information %}
                    <label>Collision Energy:</label>
                    <span><a
                      href="/search?q={{record.collision_information.energy}}">{{record.collision_information.energy}}</a></span>
                    {% endif %}
                    <label>Experiment:</label>
                    <span>{% for exp in record.experiment %} <a href="/search?q={{exp}}">{{exp}}</a>{%endfor%} </span>
                    <label>Accelerator:</label>
                    <span><a href="/search?q={{record.accelerator}}">{{record.accelerator}}</a></span>
                </div>
                {% endblock heading %}
                <hr>
                {% block metadata_block %}
                {% if record.abstract %}
                <div>
                    <h2>Description</h2>
                    <p>{{record.abstract.description | safe}}</p>
                    {{ link_list(record.abstract.links) }}
                </div>
                {% endif %}
                {% endblock metadata_block %}

                {% block files_block %}
                <div>
                    {{ files_box_react_app()}}
                </div>
                {% endblock files_block %}
                {% block disclaimer %}
                <div>
                    <h2>Disclaimer</h2>
                    {# TODO: The second parts of the if statements are for backwards compatibility with old records!
                    Please adjust in the future. #}

                    {% set attr = record.get("license", {}).get("attribution", "CC0-1.0") %}
                    {% if attr == 'CC0-1.0' or attr.startswith("CC0") %}
                    <p>These open data are released under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">
                        Creative Commons Zero v1.0 Universal</a> license.</p>
                    <img src="{{url_for('static', filename='img/licenses/cc-zero.svg')}}" alt="Logo {{ attr }}" height=45 >

                    {% elif attr == 'GPL-3.0-only' or attr.startswith("GNU") %}
                    <p>These open data are released under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">
                        GNU General Public License v3.0</a>.</p>
                    <img src="{{url_for('static', filename='img/licenses/gpl_v3.svg')}}" alt="Logo {{ attr }}" height=45>

                    {% elif attr == 'MIT' or attr.startswith("MIT") %}
                    <p>These open data are released under the <a href="https://opensource.org/license/mit">
                        MIT License</a>.</p>
                    <img src="{{url_for('static', filename='img/licenses/mit_logo.svg')}}" alt="Logo {{ attr }}" height=45>

                    {% elif attr == 'Apache-2.0' or attr.startswith("Apache") %}
                    <p>These open data are released under the <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">
                        Apache Licenses Version 2.0</a>.</p>
                    <img src="{{url_for('static', filename='img/licenses/apache_logo.svg')}}" alt="Logo {{ attr }}" height=45>

                    {% elif attr == 'BSD-3-Clause' or attr.startswith("BSD") %}
                    <p>These open data are released under the <a href="https://opensource.org/licenses/BSD-3-Clause">
                        BSD 3-Clause License</a>.</p>

                    {% else %}
                    <p>These open data are released under the license identifier of
                        "<a href="https://spdx.org/licenses/{{ attr }}.html">{{ attr }}</a>".</p>
                    {% endif %}

                     <p>Neither the experiment(s) ({% for exp in record.experiment %} {{ exp }}  {% endfor %}) nor
                        CERN endorse any works, scientific or otherwise, produced using these data.</p>

                     {% if record.doi %}
                    <p>This release has a unique DOI that you are requested to cite in any applications or
                        publications.</p>
                    {% endif %}
                </div>
                {% endblock disclaimer %}
            </div>
          </div>
        </div>
    </div>
</div>
{%- endblock %}

{% block css %}
{{ super() }}
{{ webpack['cernopendata_records_file_box.css'] }}
{%- endblock %}

{% block javascript %}
{{ super() }}
{{ webpack['cernopendata_records_file_box.js'] }}
{% endblock javascript %}
